<p id="<%= message.id %>">
  <i class="author"><%= message.user.name %>:</i>
  <%= message.body %>
  <% message.read current_user %>
  <i class="is_read" float="right"><%= "✓" if message.is_read %></i>
</p>
