<div class="container" id="chat">
  chat with <%= User.find(params[:id]).name %>
  <nav id="messages">
    <%= render @messages %>
  </nav>
  <nav id="chat_form">
    <%= form_for Message.new, remote: true do |form| %>
      <%= form.text_field :body %>
      <%= form.submit "Send" %>
    <% end %>
  </nav>
</div>
