<div class="container">
    <h1>Chat</h1>

    <ul>
      <% @users.each do |u| %>
        <li id="user_<%= u.id %>" >
          <%= u.name %>
          <%= link_to "chat", chat_path(u) %>
        </li>
      <% end %>
    </ul>
</div>
