// Place all the styles related to the Chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

i.author {
  color: rgb(0, 0, 255);
}

.container#chat {
  opacity: 0.1;
}
