<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if user_signed_in? %>
          <span>Hello, <%= current_user.name %></span>
          <%= link_to 'Log out', destroy_user_session_path, :method => :delete %>
      <% else %>
          <%= link_to 'Log in', new_user_session_path %> или <%= link_to 'Sign up', new_user_registration_path %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
